
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <nav>
        <a href="/">Main Page</a>
    </nav>
    <h2>Session Management</h2>
        <form action="/attendees" method="post" id="sessionForm">
            <label for="session">Select Session</label>
            <select name="session" id="session">
                <% sessions.forEach(session => { %>
                    <option value=<%= session._id %>> <%= session.description %> </option>
                <% }); %>
            </select>
            <label for="attendee"></label>
            <select name="attendee" id="attendee">
                <% attendees.forEach(attendee => { %>
                    <option value=<%= attendee._id %>> <%= attendee.displayname %> </option>
                <% }); %>
            </select>
        <div class=registration_buttons>
            <button type="submit" id="registrationListButton">List Registration</button>
            <button type="submit" id="registartionUpdateButton">Update Registration</button>
            <button type="submit" id="registrationDeleteButton">Cancel Registration</button>
        </div>

    </form>
    <table id="attending_table"></table>
</body>
</html>